
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Burnout Detector</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <form action="index.html" method="post">
        <h1> Employee Details </h1>
        
        <fieldset>
        
          <label for="name">Employee ID :</label>
          <input type="text" id="name" name="user_name">
          
                  <br>
        <div>
            <label>Date of Joining : </label>
            <input type="date" name="doj">
        </div>
        <div>
            <label>Gender</label>
            <select name="gender">
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>
        <div>
            <label>Company</label>
            <select name="gender">
                <option value="0">Service</option>
                <option value="1">Product</option>
            </select>
        </div>
        <div>
            <label>Is Work from Home setup available to you?</label>
            <select name="gender">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
        <div>
            <label>Designation : </label>
            <select name="gender">
                <option value="0">0(Lowest)</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3(Highest)</option>                
            </select>
        </div> 
        <label for="name">Work URL</label>
        <input type="text" id="name" name="work_url">
        <div>

        </div>
         </fieldset>
        <button type="submit">Submit</button>
        
       </form>
        </div>
      </div>
      
    </body>
</html>
