<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/result.css">
    <title>Result</title>
</head>
<body>
    <h1 id="title">Your Burn Rate is : </h1>
    <h1 id="result">{{prediction_chances}}</h1>
    <br>
    <br>

    <p id="credits">
        Developed by -
        <br><br>
        Siddharth Sharma
        <br>
        Tanishq Dubey
        <br>
        Ankit Oscar Xalxo
        <br>
        Sadeep Nanda

    </p>
</body>
</html>