<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/result.css">
    <title>Result</title>
</head>
<body>
    <h1>Your Burn Rate is : </h1>
    <h2>{{prediction_chances}}</h2>
    <br>
    <br>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit deleniti ab ducimus dolore aliquid nam saepe, quia quaerat at labore asperiores sunt expedita, reiciendis, exercitationem accusamus vero reprehenderit laboriosam ratione?
    </p>
</body>
</html>